In [1]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import nltk, os, re, string, collections
import datetime as dt
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from  imageio import imread
from nltk.util import ngrams
from nltk.corpus import stopwords
import string
import multidict as multidict #pip install multidict
import itertools
import csvtomd
import re
#%matplotlib inline

# 1. Limpieza y conversión de datos

In [2]:
dtype_test = {"id": np.int32, "keyword": "category"}
test = pd.read_csv("original_data/test.csv", dtype = dtype_test)

In [3]:
dtype_train = {"id": np.int32, "keyword": "category", "target" : bool}
train = pd.read_csv("original_data/train.csv", dtype = dtype_train, encoding='UTF_8')

In [4]:
target_train = train.target

## 1.1 Keywords

In [5]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer  = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    if text == '' or pd.isnull(text):
        return text
    else:
        wordList = [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]
        s = ' '
        return s.join(wordList)

def clean_keyword_field(df):
    df["keyword"] = df["keyword"].str.replace('%20',' ')
    df_sin_keywords_nulos = df.dropna(subset = ['keyword'])
    keywords = np.unique(df_sin_keywords_nulos.keyword)
    for keyword in keywords:
        df.loc[(df['text'].str.contains(keyword, case=False) & df['keyword'].isnull()), 'keyword'] = keyword
    df['keyword'] = df['keyword'].apply(lemmatize_text)
    return df

## 1.2 Text

### Strict (for tags)

In [6]:
def getStopwordsList():
    fileNamesList = ["texts/99webtools.txt", "texts/atire_ncbi.txt", "texts/atire_puurula.txt", "texts/azure.txt", 
                 "texts/bbalet.txt", 
                 "texts/bow_short.txt", "texts/choi_2000naacl.txt", "texts/cook1988_function_words.txt", 
                 "texts/corenlp_acronym.txt", 
                 "texts/corenlp_hardcoded.txt", "texts/corenlp_stopwords.txt", "texts/datasciencedojo.txt", 
                 "texts/deeplearning4j.txt", 
                 "texts/dkpro.txt", "texts/mongodb.txt", "texts/galago_inquery.txt", "texts/gate_keyphrase.txt", 
                 "texts/gensim.txt", 
                 "texts/glasgow_stop_words.txt", "texts/indri.txt", "texts/kevinbouge.txt", "texts/lexisnexis.txt",
                 "texts/lingpipe.txt", 
                 "texts/mallet.txt", "texts/mysql_innodb.txt", "texts/mysql_myisam.txt", "texts/galago_rmstop.txt", 
                 "texts/atire_ncbi.txt", 
                 "texts/galago_rmstop.txt", "texts/nltk.txt", "texts/okapiframework.txt", "texts/okapi_cacm_expanded.txt", 
                 "texts/onix.txt", 
                 "texts/ovid.txt", "texts/postgresql.txt", "texts/pubmed.txt", "texts/quanteda.txt", "texts/r_tm.txt", 
                 "texts/ranksnl_large.txt", 
                 "texts/reuters_wos.txt", "texts/rouge_155.txt", "texts/scikitlearn.txt", "texts/smart.txt", 
                 "texts/snowball_expanded.txt", 
                 "texts/spacy.txt", "texts/spark_mllib.txt", "texts/sphinx_mirasvit.txt", "texts/t101_minimal.txt", 
                 "texts/taporware.txt", 
                 "texts/terrier.txt", "texts/tonybsk_1.txt", "texts/tonybsk_6.txt", "texts/voyant_taporware.txt", 
                 "texts/weka.txt", 
                 "texts/xapian.txt", "texts/xpo6.txt", "texts/zettair.txt"]
    stopwordsList = []
    for fileName in fileNamesList:
        file = open(fileName, "r")
        for line in file:
            stripped_line = line. strip()
            line_list = stripped_line
            if line_list not in stopwordsList:
                stopwordsList.append(line_list)
        file.close()
    return stopwordsList

stopwordsList = getStopwordsList()

print(len(stopwordsList))

2253

In [7]:
def clean_text_strict(text):
    text = text.lower()
    text = text.replace('\d+', '')
    invalid_chars = ['#','|','@','!','?','-','_','[',']','%','&',':','.',',',"''",'/','https','(','//t',')','http',
                 ';','\'']
    for char in invalid_chars:
        if char in text:
            text = text.replace(char,' ')
    #removes url and tags
    text = re.sub(r"(?:\@|https?\://)\S+", " ",  text)
    return text

### Non strict (for special characters, hashtags, etc)

In [8]:
def clean_text_non_strict(text): 
    tw = " "
    words = text.split(' ')
    for word in words:
        word = ''.join(filter(lambda x: x in set(string.printable), word))
        word = word.replace("\n"," ")
        word = word.replace('û',"")
        word = word.replace('Û',"")
        #word = word.replace('_','')
        #word = word.replace("\"",'')
        #word = word.strip('.')
        #word = word.strip(',')
        #word = word.strip(':')
        tw += word + " "
    return tw

## 1.3 Location

In [9]:
#FUNCIONES AUXILIARES: Limpieza de tweet

# Función que saca los links

def quitar_link_twitter(tweet):
    res = []
    for w in tweet.split(" "):
        if (("http" not in w) and ("https" not in w)):
            res.append(w)
    return (" ").join(res)

# Función que saca las menciones

def quitar_mencion_twitter(tweet):
    res = []
    for w in tweet.split(" "):
        if("@" not in w):
            res.append(w)
    return (" ").join(res)

def quitar_simbolo(tweet, simbolo):
    text = ""
    for c in tweet:
        if(c!=simbolo):
            text+=c
    return text

def agregar_espacio_ente_comas(tweet):
    
    tweer_sin_coma = (" ").join(tweet.split(","))

    return (" ").join(tweer_sin_coma.split("."))

def capitalize_each_word(string):
    
    text = ""
    for w in string.split(" "):
        if(len(w)>3):
            text += w.capitalize()+" "
    return text

def limpiar_tweet_location(tweet):
    res = tweet
    func = [quitar_mencion_twitter, quitar_link_twitter, agregar_espacio_ente_comas, lambda x: quitar_simbolo(x, "#"), capitalize_each_word]
    for f in func:
        res = f(res)
    return res

def to_string(a_list, delimeter):
    res = ""
    
    for e in sorted(filter(None, a_list)):
        res += str(e)+delimeter
    
    if(len(res)==0): return None
    return res[: -len(delimeter)]

In [10]:
# FUNCIONES AUXILIARES: Analisis geografico

from geotext import GeoText
import pycountry

def get_country_pycountry(text):
    for country in pycountry.countries:
        # Handle both the cases(Uppercase/Lowercase)
        if str(country.name).lower() in str(text).lower():
            return GeoText(country.name).country_mentions

def get_country_geotext(text):
    return GeoText(text).country_mentions

def get_country(text):
    set1 = set(get_country_geotext(text))
    countries = get_country_pycountry(text)
    if(not countries):
        return list(set1)
    return list(set1.union(set(countries)))

### Location in text

In [11]:
# Creo dataframe y limpio la location

location_in_text = train[["id", "text"]].copy()
location_in_text['text'] = location_in_text['text'].apply(lambda x: limpiar_tweet_location(x))

In [12]:
#Creo columnas con informacion

location_in_text["cities"] = location_in_text["text"].apply(lambda x: GeoText(str(x)).cities)
location_in_text["cities_str"] = location_in_text["cities"].apply(lambda x: to_string(x,","))

location_in_text["country"] = location_in_text["text"].apply(lambda x: get_country(x))
location_in_text["country_str"] = location_in_text["country"].apply(lambda x: to_string(x,","))

location_in_text["has_country"] = location_in_text["country"].apply(lambda x: len(x)!=0)

In [13]:
# Selecciono las columnas más útiles para crear features

location_in_text = location_in_text[["id","cities_str","country_str","has_country"]]
location_in_text.columns = ["id", "has_location", "cities", "country"]

In [14]:
location_in_text.head()

   id has_location cities  country
0   1         None   None    False
1   4         None     CA     True
2   5         None   None    False
3   6         None   None    False
4   7         None   None    False

### Location label info

In [15]:
# Creo dataframe y limpio la location

location = train[["id", "location","target"]].copy().fillna("")
location["location"] = location["location"].apply(lambda x: limpiar_tweet_location(x))

In [16]:
#Creo columnas con informacion

location["has_location"] = location["location"]!=""

location["cities"] = location["location"].apply(lambda x: GeoText(str(x)).cities)
location["cities_str"] = location["cities"].apply(lambda x: to_string(x,","))

location["country"] = location["location"].apply(lambda x: get_country(x))
location["country_str"] = location["country"].apply(lambda x: to_string(x,","))

In [17]:
location_aux = location[["country_str", "cities_str"]].isnull()[520:525]
location["city_country_not_found"] = location_aux["country_str"] & location_aux["cities_str"]

In [18]:
# Selecciono las columnas más útiles para crear features

location_info = location[["id", "has_location", "cities_str", "country_str", "city_country_not_found"]]
location_info.columns = ["id", "has_location", "cities", "country", "city_country_not_found"]

In [19]:
location_info.head()

   id  has_location cities country city_country_not_found
0   1         False   None    None                    NaN
1   4         False   None    None                    NaN
2   5         False   None    None                    NaN
3   6         False   None    None                    NaN
4   7         False   None    None                    NaN

## 1.4 Links

In [20]:
links = pd.read_csv("new_data/links.csv", encoding='UTF_8').set_index("id")

In [21]:
import ast

links['http']= links['http'].apply(lambda x: ast.literal_eval(x))

In [22]:
#Funciones auxiliares

def get_dominio(links):
    res= []
    for l in links:
        if(l==None):
            res.append(None)
        else:
            dom = l.split("/")
            res.append(dom[2])
    return res

def type_http(links):
    res = []
    for l in links:
        if(l==None):
            res.append(None)
        else:
            dom = l.split(":")
            res.append(dom[0])
    return res

def count_None(a_list):
    count = 0
    for l in a_list:
        if(l==None):
            count+=1
    return count

def link_encription_generalize(link_encript):
    
    has_http = False
    has_https = False
    
    for type_http in link_encript:
        if type_http==None: 
            continue
        elif type_http== "https":
            has_https = True
        else:
            has_http = True
    
    if(has_http and has_https):
        return "both"
    elif(has_http):
        return "http"
    elif(has_https):
        return "https"
    else:
        return None
    
def to_string(a_list, delimeter):
    res = ""
    
    for e in sorted(filter(None, a_list)):
        res += str(e)+delimeter
    
    if(len(res)==0): return None
    return res[: -len(delimeter)]

In [23]:
links["links_domain"] = links["http"].apply(lambda x: get_dominio(x))
links["links_encription"] = links["http"].apply(lambda x: type_http(x))
links["links_encription_type"] = links["links_encription"].apply(lambda x: link_encription_generalize(x))
links["cant_failed_links"] = links["http"].apply(lambda x: count_None(x))
links["links_domain_str"] = links["links_domain"].apply(lambda x: to_string(x,","))

## 1.5 Tags

### Limpieza de los campos para obtener tags

In [24]:
# FUNCIONES AUXILIARES

def prettify(word_list):
    wl = []
    for word in word_list:
        word = re.sub(r'[^A-Za-z]', " ",  word)
        word = re.sub(r'\b\w\b',' ', word)
        word = re.sub(r'\s+', ' ', word)
        wl.append(word.strip())
    return wl

In [25]:
# Creo el dataframe
df_tags = train[['id','text','target']].copy(deep=True)

# Limpio el dataframe
df_tags['new'] = df_tags["text"].apply(lambda x: clean_text_strict(x))

In [26]:
#  Eliminacion de terminos, caracteres y stopwords innecesarios para generar los tags
#convierte de list a string

df_tags['new'] = df_tags['new'].apply(lambda x: [item for item in x.split() if item not in stopwordsList])
df_tags.new = df_tags.new.apply(prettify)

df_tags.head()

,id,text,target,new
0,1,Our Deeds are the Reason of this #earthquake M...,True,"[deeds, reason, earthquake, allah, forgive]"
1,4,Forest fire near La Ronge Sask. Canada,True,"[forest, fire, ronge, sask, canada]"
2,5,All residents asked to 'shelter in place' are ...,True,"[residents, shelter, notified, officers, evacu..."
3,6,"13,000 people receive #wildfires evacuation or...",True,"[, people, receive, wildfires, evacuation, cal..."
4,7,Just got sent this photo from Ruby #Alaska as ...,True,"[photo, ruby, alaska, smoke, wildfires, pours]"

### Tokenize

In [27]:
# FUNCION AUXILIAR
def lemmatize_text2(word_list):
    text = ' '
    text = text.join(word_list)
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

In [28]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

df_tags['new_tokenized'] = df_tags.new.apply(lemmatize_text2)
df_tags.new_tokenized = df_tags.new_tokenized.apply(prettify)

df_tags.head()

,id,text,target,new,new_tokenized
0,1,Our Deeds are the Reason of this #earthquake M...,True,"[deeds, reason, earthquake, allah, forgive]","[deed, reason, earthquake, allah, forgive]"
1,4,Forest fire near La Ronge Sask. Canada,True,"[forest, fire, ronge, sask, canada]","[forest, fire, ronge, sask, canada]"
2,5,All residents asked to 'shelter in place' are ...,True,"[residents, shelter, notified, officers, evacu...","[resident, shelter, notified, officer, evacuat..."
3,6,"13,000 people receive #wildfires evacuation or...",True,"[, people, receive, wildfires, evacuation, cal...","[people, receive, wildfire, evacuation, califo..."
4,7,Just got sent this photo from Ruby #Alaska as ...,True,"[photo, ruby, alaska, smoke, wildfires, pours]","[photo, ruby, alaska, smoke, wildfire, pours]"

### Analisis de ocurrencias

In [29]:
def getText(word_list):
    text = ' '
    text = text.join(word_list)
    return text

#metodo para analizar ocurrencias y cantidades
a = df_tags['new_tokenized'].apply(getText).str.lower().str.cat(sep=' ')

words = nltk.tokenize.word_tokenize(a)
word_dist = nltk.FreqDist(words)

this_col = pd.Series(['word','frequency'])

rslt = pd.DataFrame(word_dist.most_common(400),columns = this_col)

In [30]:
frequent_words = rslt ['word']
unique_frequent_words = set(frequent_words)

### Se genera columna con tags a partir de una cantidad de ocurrencias destacadas

In [31]:
def word_finder(x):
    x = set(x)
    return list(unique_frequent_words.intersection(x))

In [32]:
df_tags['tags'] = df_tags.new_tokenized.apply(word_finder)
tags_info = df_tags[['id','target','text','tags']]

tags_info.head()

,id,target,text,tags
0,1,True,Our Deeds are the Reason of this #earthquake M...,"[earthquake, reason]"
1,4,True,Forest fire near La Ronge Sask. Canada,"[forest, fire]"
2,5,True,All residents asked to 'shelter in place' are ...,"[officer, evacuation]"
3,6,True,"13,000 people receive #wildfires evacuation or...","[california, wildfire, people, evacuation]"
4,7,True,Just got sent this photo from Ruby #Alaska as ...,"[photo, wildfire, smoke]"

# 2. Features

## 2.1 Keywords

In [33]:
df_train = clean_keyword_field(train)

In [34]:
df_train.head()

,id,keyword,location,text,target
0,1,earthquake,NaN,Our Deeds are the Reason of this #earthquake M...,True
1,4,fire,NaN,Forest fire near La Ronge Sask. Canada,True
2,5,evacuation,NaN,All residents asked to 'shelter in place' are ...,True
3,6,evacuation,NaN,"13,000 people receive #wildfires evacuation or...",True
4,7,fire,NaN,Just got sent this photo from Ruby #Alaska as ...,True

In [35]:
def toText(listOfWords):
    s=' '
    return s.join(listOfWords)

def getFrequencyDictForText(sentence):
    fullTermsDict = multidict.MultiDict()
    tmpDict = {}

    # making dict for counting frequencies
    for text in sentence.split(" "):
        if re.match("a|the|an|the|to|in|for|of|or|by|with|is|on|that|be", text):
            continue
        val = tmpDict.get(text, 0)
        tmpDict[text.lower()] = val + 1
    for key in tmpDict:
        fullTermsDict.add(key, tmpDict[key])
    return fullTermsDict

def textContainsKeyword(row):
    if row.keyword == '' or pd.isnull(row.keyword):
        return False
    else:
        return row.keyword.lower() in row.text.lower()
    
def getKeywords(df):
    df_sin_keywords_nulos = df.dropna(subset = ['keyword'])
    return np.unique(df_sin_keywords_nulos.keyword)

def textContainsKeywordAsHashtag(row):
    hashtags = []
    tweet = row.text.lower()
    if row.keyword == '' or pd.isnull(row.keyword):
        return False
    else:
        for word in tweet.split(' '):
            if (len(word)>1) and (word[0] == '#'):
                hashtags.append(word[1:])
        return row.keyword.lower() in hashtags

In [36]:
all_keywords = pd.get_dummies(train[['id','keyword']],'keyword')
all_keywords

,id,keyword_ablaze,keyword_accident,keyword_aftershock,keyword_airplane accident,keyword_ambulance,keyword_annihilated,keyword_annihilation,keyword_apocalypse,keyword_armageddon,...,keyword_weapon,keyword_whirlwind,keyword_wild fire,keyword_wildfire,keyword_windstorm,keyword_wound,keyword_wounded,keyword_wreck,keyword_wreckage,keyword_wrecked
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,32,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,34,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,37,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,39,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,40,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,41,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7583,10835,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7584,10837,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7585,10839,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7586,10840,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7587,10841,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7588,10842,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7589,10843,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7590,10844,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7591,10846,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7592,10847,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7593,10848,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7594,10849,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7595,10850,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7596,10851,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7597,10852,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7598,10853,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7599,10854,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7600,10855,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7601,10859,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7602,10860,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7603,10862,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7604,10863,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7605,10864,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7606,10866,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7607,10867,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7608,10869,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7609,10870,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7610,10871,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7611,10872,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7612,10873,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df_keywords = df_train.copy()

In [38]:
#df_sin_keywords_nulos = df_keywords.dropna(subset=['keyword'])
#%time df_keywords_not_in_text = df_sin_keywords_nulos[~df_sin_keywords_nulos['text'].str.contains("|".join(df_sin_keywords_nulos['keyword']),case=False)]
#%time df_sin_keywords_nulos[df_sin_keywords_nulos.apply(lambda x: x.keyword in x.text, axis=1)]

In [39]:
df_keywords['text_contains_keyword'] = df_train.apply(textContainsKeyword,axis=1)
df_keywords.head()

,id,keyword,location,text,target,text_contains_keyword
0,1,earthquake,NaN,Our Deeds are the Reason of this #earthquake M...,True,True
1,4,fire,NaN,Forest fire near La Ronge Sask. Canada,True,True
2,5,evacuation,NaN,All residents asked to 'shelter in place' are ...,True,True
3,6,evacuation,NaN,"13,000 people receive #wildfires evacuation or...",True,True
4,7,fire,NaN,Just got sent this photo from Ruby #Alaska as ...,True,True

In [40]:
df_keywords['has_keyword'] = ~df_keywords.keyword.isnull()

In [41]:
keywords = getKeywords(df_keywords)
keywords

array(['ablaze', 'accident', 'aftershock', 'airplane accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown up', 'body bag', 'body bagging', 'bomb', 'bombed',
       'bombing', 'bridge collapse', 'building burning',
       'building on fire', 'burned', 'burning', 'burning building',
       'bush fire', 'casualty', 'catastrophe', 'catastrophic',
       'chemical emergency', 'cliff fall', 'collapse', 'collapsed',
       'collide', 'collided', 'collision', 'crash', 'crashed', 'crush',
       'crushed', 'curfew', 'cyclone', 'damage', 'danger', 'dead',
       'death', 'debris', 'deluge', 'deluged', 'demolish', 'demolished',
       'demolition', 'derail', 'derailed', 'derailment', 'desolate',
       'desolation', 'destroy', 'destroyed', 'destruction', 'detonate',
       'detonation', 'devastated', 'devastation', 'disaster', 'displaced',
       'drought', 'drown', 'drowned', 'drowning', 'dust storm',
       'earthquake', 'electrocute', 'electrocuted', 'emergency',
       'emergency plan', 'emergency service', 'engulfed', 'epicentre',
       'evacuate', 'evacuated', 'evacuation', 'explode', 'exploded',
       'explosion', 'eyewitness', 'famine', 'fatal', 'fatality', 'fear',
       'fire', 'fire truck', 'first responder', 'flame', 'flattened',
       'flood', 'flooding', 'forest fire', 'hail', 'hailstorm', 'harm',
       'hazard', 'hazardous', 'heat wave', 'hellfire', 'hijack',
       'hijacker', 'hijacking', 'hostage', 'hurricane', 'injured',
       'injury', 'inundated', 'inundation', 'landslide', 'lava',
       'lightning', 'loud bang', 'mass murder', 'mass murderer',
       'massacre', 'mayhem', 'meltdown', 'military', 'mudslide',
       'natural disaster', 'nuclear disaster', 'nuclear reactor',
       'obliterate', 'obliterated', 'obliteration', 'oil spill',
       'outbreak', 'pandemonium', 'panic', 'panicking', 'police',
       'quarantine', 'quarantined', 'radiation emergency', 'rainstorm',
       'razed', 'refugee', 'rescue', 'rescued', 'rescuer', 'riot',
       'rioting', 'rubble', 'ruin', 'sandstorm', 'scream', 'screamed',
       'screaming', 'seismic', 'sinkhole', 'sinking', 'siren', 'smoke',
       'snowstorm', 'storm', 'stretcher', 'structural failure',
       'suicide bomb', 'suicide bomber', 'suicide bombing', 'sunk',
       'survive', 'survived', 'survivor', 'terrorism', 'terrorist',
       'threat', 'thunder', 'thunderstorm', 'tornado', 'tragedy',
       'trapped', 'trauma', 'traumatised', 'trouble', 'tsunami',
       'twister', 'typhoon', 'upheaval', 'violent storm', 'volcano',
       'war zone', 'weapon', 'whirlwind', 'wild fire', 'wildfire',
       'windstorm', 'wound', 'wounded', 'wreck', 'wreckage', 'wrecked'],
      dtype=object)

In [42]:
def countKeywords(tweet):
    quantity = 0
    for word in tweet.split(' '):
        word = re.sub('[^a-zA-Z]+', '', word)
        if word.lower() in keywords:
            quantity+=1
    return quantity

df_keywords['keywords_quantity'] = df_keywords.text.apply(countKeywords)
df_keywords

,id,keyword,location,text,target,text_contains_keyword,has_keyword,keywords_quantity
0,1,earthquake,NaN,Our Deeds are the Reason of this #earthquake M...,True,True,True,1
1,4,fire,NaN,Forest fire near La Ronge Sask. Canada,True,True,True,1
2,5,evacuation,NaN,All residents asked to 'shelter in place' are ...,True,True,True,1
3,6,evacuation,NaN,"13,000 people receive #wildfires evacuation or...",True,True,True,1
4,7,fire,NaN,Just got sent this photo from Ruby #Alaska as ...,True,True,True,1
5,8,fire,NaN,#RockyFire Update => California Hwy. 20 closed...,True,True,True,1
6,10,disaster,NaN,#flood #disaster Heavy rain causes flash flood...,True,True,True,3
7,13,fire,NaN,I'm on top of the hill and I can see a fire in...,True,True,True,1
8,14,emergency,NaN,There's an emergency evacuation happening now ...,True,True,True,2
9,15,tornado,NaN,I'm afraid that the tornado is coming to our a...,True,True,True,1
10,16,heat wave,NaN,Three people died from the heat wave so far,True,True,True,0
11,17,flood,NaN,Haha South Tampa is getting flooded hah- WAIT ...,True,True,True,1
12,18,flood,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,True,True,True,1
13,19,flood,NaN,#Flood in Bago Myanmar #We arrived Bago,True,True,True,1
14,20,crash,NaN,Damage to school bus on 80 in multi car crash ...,True,True,True,2
15,23,NaN,NaN,What's up man?,False,False,False,0
16,24,NaN,NaN,I love fruits,False,False,False,0
17,25,NaN,NaN,Summer is lovely,False,False,False,0
18,26,NaN,NaN,My car is so fast,False,False,False,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,False,False,False,0
20,31,NaN,NaN,this is ridiculous....,False,False,False,0
21,32,NaN,NaN,London is cool ;),False,False,False,0
22,33,NaN,NaN,Love skiing,False,False,False,0
23,34,NaN,NaN,What a wonderful day!,False,False,False,0
24,36,NaN,NaN,LOOOOOOL,False,False,False,0
25,37,NaN,NaN,No way...I can't eat that shit,False,False,False,0
26,38,NaN,NaN,Was in NYC last week!,False,False,False,0
27,39,NaN,NaN,Love my girlfriend,False,False,False,0
28,40,NaN,NaN,Cooool :),False,False,False,0
29,41,NaN,NaN,Do you like pasta?,False,False,False,0
...,...,...,...,...,...,...,...,...
7583,10835,army,NaN,Pic of 16yr old PKK suicide bomber who detonat...,True,True,True,2
7584,10837,explode,NaN,These boxes are ready to explode! Exploding Ki...,False,True,True,1
7585,10839,flood,NaN,Calgary Police Flood Road Closures in Calgary....,True,True,True,2
7586,10840,seismic,NaN,#Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...,True,True,True,1
7587,10841,siren,NaN,Sirens everywhere!,False,True,True,0
7588,10842,attack,NaN,BREAKING: #ISIS claims responsibility for mosq...,True,True,True,1
7589,10843,earthquake,NaN,Omg earthquake,True,True,True,1
7590,10844,cyclone,NaN,SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ÛÏ...,True,True,True,2
7591,10846,heat wave,NaN,Heat wave warning aa? Ayyo dei. Just when I pl...,True,True,True,0
7592,10847,bomb,NaN,An IS group suicide bomber detonated an explos...,True,True,True,0
7593,10848,loud bang,NaN,I just heard a really loud bang and everyone i...,False,True,True,0
7594,10849,explode,NaN,A gas thing just exploded and I heard screams ...,True,True,True,1
7595,10850,flood,NaN,NWS: Flash Flood Warning Continued for Shelby ...,True,True,True,1
7596,10851,storm,NaN,RT @LivingSafely: #NWS issues Severe #Thunders...,True,True,True,2
7597,10852,debris,NaN,#??? #?? #??? #??? MH370: Aircraft debris foun...,True,True,True,1
7598,10853,collide,NaN,Father-of-three Lost Control of Car After Over...,True,True,True,1
7599,10854,earthquake,NaN,1.3 #Earthquake in 9Km Ssw Of Anza California ...,True,True,True,2
7600,10855,evacuation,NaN,Evacuation order lifted for town of Roosevelt:...,True,True,True,1
7601,10859,oil spill,NaN,#breaking #LA Refugio oil spill may have been ...,True,True,True,0
7602,10860,siren,NaN,a siren just went off and it wasn't the Forney...,True,True,True,2
7603,10862,quarantine,NaN,Officials say a quarantine is in place at an A...,True,True,True,1
7604,10863,evacuate,NaN,#WorldNews Fallen powerlines on G:link tram: U...,True,True,True,2
7605,10864,bomb,NaN,on the flip side I'm at Walmart and there is a...,True,True,True,2
7606,10866,bomb,NaN,Suicide bomber kills 15 in Saudi security site...,True,True,True,0
7607,10867,storm,NaN,#stormchase Violent Record Breaking EF-5 El Re...,True,True,True,1
7608,10869,bridge collapse,NaN,Two giant cranes holding a bridge collapse int...,True,True,True,1
7609,10870,fire,NaN,@aria_ahrary @TheTawniest The out of control w...,True,True,True,0
7610,10871,volcano,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,True,True,True,1
7611,10872,collide,NaN,Police investigating after an e-bike collided ...,True,True,True,2
7612,10873,fire,NaN,The Latest: More Homes Razed by Northern Calif...,True,True,True,2

In [43]:
df_keywords['keywords_mean'] = df_keywords.text.apply(countKeywords)/keywords.size
df_keywords

,id,keyword,location,text,target,text_contains_keyword,has_keyword,keywords_quantity,keywords_mean
0,1,earthquake,NaN,Our Deeds are the Reason of this #earthquake M...,True,True,True,1,0.004739
1,4,fire,NaN,Forest fire near La Ronge Sask. Canada,True,True,True,1,0.004739
2,5,evacuation,NaN,All residents asked to 'shelter in place' are ...,True,True,True,1,0.004739
3,6,evacuation,NaN,"13,000 people receive #wildfires evacuation or...",True,True,True,1,0.004739
4,7,fire,NaN,Just got sent this photo from Ruby #Alaska as ...,True,True,True,1,0.004739
5,8,fire,NaN,#RockyFire Update => California Hwy. 20 closed...,True,True,True,1,0.004739
6,10,disaster,NaN,#flood #disaster Heavy rain causes flash flood...,True,True,True,3,0.014218
7,13,fire,NaN,I'm on top of the hill and I can see a fire in...,True,True,True,1,0.004739
8,14,emergency,NaN,There's an emergency evacuation happening now ...,True,True,True,2,0.009479
9,15,tornado,NaN,I'm afraid that the tornado is coming to our a...,True,True,True,1,0.004739
10,16,heat wave,NaN,Three people died from the heat wave so far,True,True,True,0,0.000000
11,17,flood,NaN,Haha South Tampa is getting flooded hah- WAIT ...,True,True,True,1,0.004739
12,18,flood,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,True,True,True,1,0.004739
13,19,flood,NaN,#Flood in Bago Myanmar #We arrived Bago,True,True,True,1,0.004739
14,20,crash,NaN,Damage to school bus on 80 in multi car crash ...,True,True,True,2,0.009479
15,23,NaN,NaN,What's up man?,False,False,False,0,0.000000
16,24,NaN,NaN,I love fruits,False,False,False,0,0.000000
17,25,NaN,NaN,Summer is lovely,False,False,False,0,0.000000
18,26,NaN,NaN,My car is so fast,False,False,False,0,0.000000
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,False,False,False,0,0.000000
20,31,NaN,NaN,this is ridiculous....,False,False,False,0,0.000000
21,32,NaN,NaN,London is cool ;),False,False,False,0,0.000000
22,33,NaN,NaN,Love skiing,False,False,False,0,0.000000
23,34,NaN,NaN,What a wonderful day!,False,False,False,0,0.000000
24,36,NaN,NaN,LOOOOOOL,False,False,False,0,0.000000
25,37,NaN,NaN,No way...I can't eat that shit,False,False,False,0,0.000000
26,38,NaN,NaN,Was in NYC last week!,False,False,False,0,0.000000
27,39,NaN,NaN,Love my girlfriend,False,False,False,0,0.000000
28,40,NaN,NaN,Cooool :),False,False,False,0,0.000000
29,41,NaN,NaN,Do you like pasta?,False,False,False,0,0.000000
...,...,...,...,...,...,...,...,...,...
7583,10835,army,NaN,Pic of 16yr old PKK suicide bomber who detonat...,True,True,True,2,0.009479
7584,10837,explode,NaN,These boxes are ready to explode! Exploding Ki...,False,True,True,1,0.004739
7585,10839,flood,NaN,Calgary Police Flood Road Closures in Calgary....,True,True,True,2,0.009479
7586,10840,seismic,NaN,#Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...,True,True,True,1,0.004739
7587,10841,siren,NaN,Sirens everywhere!,False,True,True,0,0.000000
7588,10842,attack,NaN,BREAKING: #ISIS claims responsibility for mosq...,True,True,True,1,0.004739
7589,10843,earthquake,NaN,Omg earthquake,True,True,True,1,0.004739
7590,10844,cyclone,NaN,SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ÛÏ...,True,True,True,2,0.009479
7591,10846,heat wave,NaN,Heat wave warning aa? Ayyo dei. Just when I pl...,True,True,True,0,0.000000
7592,10847,bomb,NaN,An IS group suicide bomber detonated an explos...,True,True,True,0,0.000000
7593,10848,loud bang,NaN,I just heard a really loud bang and everyone i...,False,True,True,0,0.000000
7594,10849,explode,NaN,A gas thing just exploded and I heard screams ...,True,True,True,1,0.004739
7595,10850,flood,NaN,NWS: Flash Flood Warning Continued for Shelby ...,True,True,True,1,0.004739
7596,10851,storm,NaN,RT @LivingSafely: #NWS issues Severe #Thunders...,True,True,True,2,0.009479
7597,10852,debris,NaN,#??? #?? #??? #??? MH370: Aircraft debris foun...,True,True,True,1,0.004739
7598,10853,collide,NaN,Father-of-three Lost Control of Car After Over...,True,True,True,1,0.004739
7599,10854,earthquake,NaN,1.3 #Earthquake in 9Km Ssw Of Anza California ...,True,True,True,2,0.009479
7600,10855,evacuation,NaN,Evacuation order lifted for town of Roosevelt:...,True,True,True,1,0.004739
7601,10859,oil spill,NaN,#breaking #LA Refugio oil spill may have been ...,True,True,True,0,0.000000
7602,10860,siren,NaN,a siren just went off and it wasn't the Forney...,True,True,True,2,0.009479
7603,10862,quarantine,NaN,Officials say a quarantine is in place at an A...,True,True,True,1,0.004739
7604,10863,evacuate,NaN,#WorldNews Fallen powerlines on G:link tram: U...,True,True,True,2,0.009479
7605,10864,bomb,NaN,on the flip side I'm at Walmart and there is a...,True,True,True,2,0.009479
7606,10866,bomb,NaN,Suicide bomber kills 15 in Saudi security site...,True,True,True,0,0.000000
7607,10867,storm,NaN,#stormchase Violent Record Breaking EF-5 El Re...,True,True,True,1,0.004739
7608,10869,bridge collapse,NaN,Two giant cranes holding a bridge collapse int...,True,True,True,1,0.004739
7609,10870,fire,NaN,@aria_ahrary @TheTawniest The out of control w...,True,True,True,0,0.000000
7610,10871,volcano,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,True,True,True,1,0.004739
7611,10872,collide,NaN,Police investigating after an e-bike collided ...,True,True,True,2,0.009479
7612,10873,fire,NaN,The Latest: More Homes Razed by Northern Calif...,True,True,True,2,0.009479

In [44]:
df_keywords['keyword_is_hashtag'] = df_train.apply(textContainsKeywordAsHashtag,axis=1)
df_keywords

,id,keyword,location,text,target,text_contains_keyword,has_keyword,keywords_quantity,keywords_mean,keyword_is_hashtag
0,1,earthquake,NaN,Our Deeds are the Reason of this #earthquake M...,True,True,True,1,0.004739,True
1,4,fire,NaN,Forest fire near La Ronge Sask. Canada,True,True,True,1,0.004739,False
2,5,evacuation,NaN,All residents asked to 'shelter in place' are ...,True,True,True,1,0.004739,False
3,6,evacuation,NaN,"13,000 people receive #wildfires evacuation or...",True,True,True,1,0.004739,False
4,7,fire,NaN,Just got sent this photo from Ruby #Alaska as ...,True,True,True,1,0.004739,False
5,8,fire,NaN,#RockyFire Update => California Hwy. 20 closed...,True,True,True,1,0.004739,False
6,10,disaster,NaN,#flood #disaster Heavy rain causes flash flood...,True,True,True,3,0.014218,True
7,13,fire,NaN,I'm on top of the hill and I can see a fire in...,True,True,True,1,0.004739,False
8,14,emergency,NaN,There's an emergency evacuation happening now ...,True,True,True,2,0.009479,False
9,15,tornado,NaN,I'm afraid that the tornado is coming to our a...,True,True,True,1,0.004739,False
10,16,heat wave,NaN,Three people died from the heat wave so far,True,True,True,0,0.000000,False
11,17,flood,NaN,Haha South Tampa is getting flooded hah- WAIT ...,True,True,True,1,0.004739,False
12,18,flood,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,True,True,True,1,0.004739,False
13,19,flood,NaN,#Flood in Bago Myanmar #We arrived Bago,True,True,True,1,0.004739,True
14,20,crash,NaN,Damage to school bus on 80 in multi car crash ...,True,True,True,2,0.009479,False
15,23,NaN,NaN,What's up man?,False,False,False,0,0.000000,False
16,24,NaN,NaN,I love fruits,False,False,False,0,0.000000,False
17,25,NaN,NaN,Summer is lovely,False,False,False,0,0.000000,False
18,26,NaN,NaN,My car is so fast,False,False,False,0,0.000000,False
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,False,False,False,0,0.000000,False
20,31,NaN,NaN,this is ridiculous....,False,False,False,0,0.000000,False
21,32,NaN,NaN,London is cool ;),False,False,False,0,0.000000,False
22,33,NaN,NaN,Love skiing,False,False,False,0,0.000000,False
23,34,NaN,NaN,What a wonderful day!,False,False,False,0,0.000000,False
24,36,NaN,NaN,LOOOOOOL,False,False,False,0,0.000000,False
25,37,NaN,NaN,No way...I can't eat that shit,False,False,False,0,0.000000,False
26,38,NaN,NaN,Was in NYC last week!,False,False,False,0,0.000000,False
27,39,NaN,NaN,Love my girlfriend,False,False,False,0,0.000000,False
28,40,NaN,NaN,Cooool :),False,False,False,0,0.000000,False
29,41,NaN,NaN,Do you like pasta?,False,False,False,0,0.000000,False
...,...,...,...,...,...,...,...,...,...,...
7583,10835,army,NaN,Pic of 16yr old PKK suicide bomber who detonat...,True,True,True,2,0.009479,False
7584,10837,explode,NaN,These boxes are ready to explode! Exploding Ki...,False,True,True,1,0.004739,False
7585,10839,flood,NaN,Calgary Police Flood Road Closures in Calgary....,True,True,True,2,0.009479,False
7586,10840,seismic,NaN,#Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...,True,True,True,1,0.004739,False
7587,10841,siren,NaN,Sirens everywhere!,False,True,True,0,0.000000,False
7588,10842,attack,NaN,BREAKING: #ISIS claims responsibility for mosq...,True,True,True,1,0.004739,False
7589,10843,earthquake,NaN,Omg earthquake,True,True,True,1,0.004739,False
7590,10844,cyclone,NaN,SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ÛÏ...,True,True,True,2,0.009479,False
7591,10846,heat wave,NaN,Heat wave warning aa? Ayyo dei. Just when I pl...,True,True,True,0,0.000000,False
7592,10847,bomb,NaN,An IS group suicide bomber detonated an explos...,True,True,True,0,0.000000,False
7593,10848,loud bang,NaN,I just heard a really loud bang and everyone i...,False,True,True,0,0.000000,False
7594,10849,explode,NaN,A gas thing just exploded and I heard screams ...,True,True,True,1,0.004739,False
7595,10850,flood,NaN,NWS: Flash Flood Warning Continued for Shelby ...,True,True,True,1,0.004739,False
7596,10851,storm,NaN,RT @LivingSafely: #NWS issues Severe #Thunders...,True,True,True,2,0.009479,False
7597,10852,debris,NaN,#??? #?? #??? #??? MH370: Aircraft debris foun...,True,True,True,1,0.004739,False
7598,10853,collide,NaN,Father-of-three Lost Control of Car After Over...,True,True,True,1,0.004739,False
7599,10854,earthquake,NaN,1.3 #Earthquake in 9Km Ssw Of Anza California ...,True,True,True,2,0.009479,True
7600,10855,evacuation,NaN,Evacuation order lifted for town of Roosevelt:...,True,True,True,1,0.004739,False
7601,10859,oil spill,NaN,#breaking #LA Refugio oil spill may have been ...,True,True,True,0,0.000000,False
7602,10860,siren,NaN,a siren just went off and it wasn't the Forney...,True,True,True,2,0.009479,False
7603,10862,quarantine,NaN,Officials say a quarantine is in place at an A...,True,True,True,1,0.004739,False
7604,10863,evacuate,NaN,#WorldNews Fallen powerlines on G:link tram: U...,True,True,True,2,0.009479,False
7605,10864,bomb,NaN,on the flip side I'm at Walmart and there is a...,True,True,True,2,0.009479,False
7606,10866,bomb,NaN,Suicide bomber kills 15 in Saudi security site...,True,True,True,0,0.000000,False
7607,10867,storm,NaN,#stormchase Violent Record Breaking EF-5 El Re...,True,True,True,1,0.004739,False
7608,10869,bridge collapse,NaN,Two giant cranes holding a bridge collapse int...,True,True,True,1,0.004739,False
7609,10870,fire,NaN,@aria_ahrary @TheTawniest The out of control w...,True,True,True,0,0.000000,False
7610,10871,volcano,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,True,True,True,1,0.004739,False
7611,10872,collide,NaN,Police investigating after an e-bike collided ...,True,True,True,2,0.009479,False
7612,10873,fire,NaN,The Latest: More Homes Razed by Northern Calif...,True,True,True,2,0.009479,False

In [45]:
# busco frecuencia de cada keyword para asignar un 'peso'
df_keywords['keyword_frequency'] = df_keywords.groupby('keyword')['id'].transform('count') / keywords.size
df_keywords

,id,keyword,location,text,target,text_contains_keyword,has_keyword,keywords_quantity,keywords_mean,keyword_is_hashtag,keyword_frequency
0,1,earthquake,NaN,Our Deeds are the Reason of this #earthquake M...,True,True,True,1,0.004739,True,0.199052
1,4,fire,NaN,Forest fire near La Ronge Sask. Canada,True,True,True,1,0.004739,False,0.208531
2,5,evacuation,NaN,All residents asked to 'shelter in place' are ...,True,True,True,1,0.004739,False,0.184834
3,6,evacuation,NaN,"13,000 people receive #wildfires evacuation or...",True,True,True,1,0.004739,False,0.184834
4,7,fire,NaN,Just got sent this photo from Ruby #Alaska as ...,True,True,True,1,0.004739,False,0.208531
5,8,fire,NaN,#RockyFire Update => California Hwy. 20 closed...,True,True,True,1,0.004739,False,0.208531
6,10,disaster,NaN,#flood #disaster Heavy rain causes flash flood...,True,True,True,3,0.014218,True,0.170616
7,13,fire,NaN,I'm on top of the hill and I can see a fire in...,True,True,True,1,0.004739,False,0.208531
8,14,emergency,NaN,There's an emergency evacuation happening now ...,True,True,True,2,0.009479,False,0.180095
9,15,tornado,NaN,I'm afraid that the tornado is coming to our a...,True,True,True,1,0.004739,False,0.170616
10,16,heat wave,NaN,Three people died from the heat wave so far,True,True,True,0,0.000000,False,0.170616
11,17,flood,NaN,Haha South Tampa is getting flooded hah- WAIT ...,True,True,True,1,0.004739,False,0.360190
12,18,flood,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,True,True,True,1,0.004739,False,0.360190
13,19,flood,NaN,#Flood in Bago Myanmar #We arrived Bago,True,True,True,1,0.004739,True,0.360190
14,20,crash,NaN,Damage to school bus on 80 in multi car crash ...,True,True,True,2,0.009479,False,0.161137
15,23,NaN,NaN,What's up man?,False,False,False,0,0.000000,False,NaN
16,24,NaN,NaN,I love fruits,False,False,False,0,0.000000,False,NaN
17,25,NaN,NaN,Summer is lovely,False,False,False,0,0.000000,False,NaN
18,26,NaN,NaN,My car is so fast,False,False,False,0,0.000000,False,NaN
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,False,False,False,0,0.000000,False,NaN
20,31,NaN,NaN,this is ridiculous....,False,False,False,0,0.000000,False,NaN
21,32,NaN,NaN,London is cool ;),False,False,False,0,0.000000,False,NaN
22,33,NaN,NaN,Love skiing,False,False,False,0,0.000000,False,NaN
23,34,NaN,NaN,What a wonderful day!,False,False,False,0,0.000000,False,NaN
24,36,NaN,NaN,LOOOOOOL,False,False,False,0,0.000000,False,NaN
25,37,NaN,NaN,No way...I can't eat that shit,False,False,False,0,0.000000,False,NaN
26,38,NaN,NaN,Was in NYC last week!,False,False,False,0,0.000000,False,NaN
27,39,NaN,NaN,Love my girlfriend,False,False,False,0,0.000000,False,NaN
28,40,NaN,NaN,Cooool :),False,False,False,0,0.000000,False,NaN
29,41,NaN,NaN,Do you like pasta?,False,False,False,0,0.000000,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7583,10835,army,NaN,Pic of 16yr old PKK suicide bomber who detonat...,True,True,True,2,0.009479,False,0.165877
7584,10837,explode,NaN,These boxes are ready to explode! Exploding Ki...,False,True,True,1,0.004739,False,0.189573
7585,10839,flood,NaN,Calgary Police Flood Road Closures in Calgary....,True,True,True,2,0.009479,False,0.360190
7586,10840,seismic,NaN,#Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...,True,True,True,1,0.004739,False,0.142180
7587,10841,siren,NaN,Sirens everywhere!,False,True,True,0,0.000000,False,0.336493
7588,10842,attack,NaN,BREAKING: #ISIS claims responsibility for mosq...,True,True,True,1,0.004739,False,0.175355
7589,10843,earthquake,NaN,Omg earthquake,True,True,True,1,0.004739,False,0.199052
7590,10844,cyclone,NaN,SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ÛÏ...,True,True,True,2,0.009479,False,0.156398
7591,10846,heat wave,NaN,Heat wave warning aa? Ayyo dei. Just when I pl...,True,True,True,0,0.000000,False,0.170616
7592,10847,bomb,NaN,An IS group suicide bomber detonated an explos...,True,True,True,0,0.000000,False,0.175355
7593,10848,loud bang,NaN,I just heard a really loud bang and everyone i...,False,True,True,0,0.000000,False,0.165877
7594,10849,explode,NaN,A gas thing just exploded and I heard screams ...,True,True,True,1,0.004739,False,0.189573
7595,10850,flood,NaN,NWS: Flash Flood Warning Continued for Shelby ...,True,True,True,1,0.004739,False,0.360190
7596,10851,storm,NaN,RT @LivingSafely: #NWS issues Severe #Thunders...,True,True,True,2,0.009479,False,0.175355
7597,10852,debris,NaN,#??? #?? #??? #??? MH370: Aircraft debris foun...,True,True,True,1,0.004739,False,0.180095
7598,10853,collide,NaN,Father-of-three Lost Control of Car After Over...,True,True,True,1,0.004739,False,0.170616
7599,10854,earthquake,NaN,1.3 #Earthquake in 9Km Ssw Of Anza California ...,True,True,True,2,0.009479,True,0.199052
7600,10855,evacuation,NaN,Evacuation order lifted for town of Roosevelt:...,True,True,True,1,0.004739,False,0.184834
7601,10859,oil spill,NaN,#breaking #LA Refugio oil spill may have been ...,True,True,True,0,0.000000,False,0.184834
7602,10860,siren,NaN,a siren just went off and it wasn't the Forney...,True,True,True,2,0.009479,False,0.336493
7603,10862,quarantine,NaN,Officials say a quarantine is in place at an A...,True,True,True,1,0.004739,False,0.165877
7604,10863,evacuate,NaN,#WorldNews Fallen powerlines on G:link tram: U...,True,True,True,2,0.009479,False,0.194313
7605,10864,bomb,NaN,on the flip side I'm at Walmart and there is a...,True,True,True,2,0.009479,False,0.175355
7606,10866,bomb,NaN,Suicide bomber kills 15 in Saudi security site...,True,True,True,0,0.000000,False,0.175355
7607,10867,storm,NaN,#stormchase Violent Record Breaking EF-5 El Re...,True,True,True,1,0.004739,False,0.175355
7608,10869,bridge collapse,NaN,Two giant cranes holding a bridge collapse int...,True,True,True,1,0.004739,False,0.170616
7609,10870,fire,NaN,@aria_ahrary @TheTawniest The out of control w...,True,True,True,0,0.000000,False,0.208531
7610,10871,volcano,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,True,True,True,1,0.004739,False,0.132701
7611,10872,collide,NaN,Police investigating after an e-bike collided ...,True,True,True,2,0.009479,False,0.170616
7612,10873,fire,NaN,The Latest: More Homes Razed by Northern Calif...,True,True,True,2,0.009479,False,0.208531

In [46]:
#corrmap = df_keywords.corr()
#fig = plt.figure(figsize=(20,10))

#sns.heatmap(corrmap, vmax=.8, square=True)
#plt.show()

## 2.2 Text

In [47]:
#Funciones auxiliares
stopword = stopwords.words('english')

def stop(text):
    return [w for w in text.split() if w in stopword]

def length(text):
    return(np.mean([len(w) for w in text.split()]))

def punct(text):
    return [c for c in text if c in string.punctuation]

def title(text):
    return [w for w in text.split() if w.istitle()]

def upper_list(text):
    return [w for w in text.split() if w.isupper()]

def lower_list(text):
    return [w for w in text.split() if w.islower()]

def syllables(text):
    count = 0
    vowels = 'aeiouy'
    for word in text:
        word= word.lower()
        if word[0] in vowels:
            count +=1
        for index in range(1,len(word)):
            if word[index] in vowels and word[index-1] not in vowels:
                count +=1
        if word.endswith('e'):
            count -= 1
        if word.endswith('le'):
            count+=1
        if count == 0:
            count +=1
    return count

def quitar_link_twitter(tweet):
    res = []
    for w in tweet.split(" "):
        if (("http" not in w) and ("https" not in w)):
            res.append(w)
    return (" ").join(res)

def quitar_mencion_twitter(tweet):
    res = []
    for w in tweet.split(" "):
        if("@" not in w):
            res.append(w)
    return (" ").join(res)

def agregar_features_cantidad_palabras(df_og):
    df_og['text'] = df_og['text'].apply(lambda x: quitar_link_twitter(x))
    df_og['text'] = df_og['text'].apply(lambda x: quitar_mencion_twitter(x))
    palabras_list = [df_og]
    for df in palabras_list:
        # Número de palabras usadas
        df['#palabras'] = df['text'].apply(lambda x: len(x.split()))
        # Número de palabras únicas
        df['#palabras_unicas'] =  df['text'].apply(lambda x: len(set(x.split())))
        # Número de caracteres
        df['#caracteres'] =  df['text'].apply(lambda x: len(x))
        # Número de stopwords
        df['#stopwords'] = df['text'].apply(lambda x: len(stop(x)))
        # Número de caracteres de puntuación
        df['#putuacion'] = df['text'].apply(lambda x: len(punct(x)))
        # Número de palabras Capitalizadas
        df['#capitalize'] = df['text'].apply(lambda x: len(title(x)))
        # Número de palabras MAYUSCULAS
        df['#mayusculas'] = df['text'].apply(lambda x: len(upper_list(x)))
        # Número de silabas
        df['#silabas'] = df['text'].apply(lambda x: syllables(x))
        # Promedio de longitud del tweet
        df['promedio_len_word'] = df['text'].apply(lambda x: length(x))
    return df

## 2.3 Location

### Same location in label and in text

In [48]:
#Merge info location in text and in columnn "location"
location_merged = location_in_text.merge(location_info, how="left", on="id",suffixes = ('_in_label', '_in_text'))

In [49]:
location_merged.head()

,id,has_location_in_label,cities_in_label,country_in_label,has_location_in_text,cities_in_text,country_in_text,city_country_not_found
0,1,None,None,False,False,None,None,NaN
1,4,None,CA,True,False,None,None,NaN
2,5,None,None,False,False,None,None,NaN
3,6,None,None,False,False,None,None,NaN
4,7,None,None,False,False,None,None,NaN

### Location label countries

In [50]:
# Para aquellos tweets con más de dos paises, separo en columnas

countries = location['country_str'].str.split(",", expand = True)

countries["id"] = location["id"]
countries.set_index("id")

countries1 = pd.get_dummies(countries[0],"Country")
countries2 = pd.get_dummies(countries[1],"Country")

# Uno las columnas
for country in countries1.columns:
    if(country in countries2.columns):
        countries1[country] = countries1[country] + countries2[country]
for country in countries2.columns:
    if(country in countries1.columns):
        countries1[country] = countries2[country]

In [51]:
countries1.head(2)

,Country_AE,Country_AF,Country_AQ,Country_AR,Country_AT,Country_AU,Country_BB,Country_BD,Country_BE,Country_BG,...,Country_TH,Country_TM,Country_UA,Country_UG,Country_US,Country_UY,Country_VE,Country_VN,Country_ZA,Country_ZW
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Location label countries weight

In [52]:
cant_has_coutry = sum(location["country_str"].value_counts())
location["country_str"] = location["country"].apply(lambda x: to_string(x,","))
location["total"] = 1
porcentaje_country_false = location[["country_str", "target","total"]].groupby("country_str").agg({"target": sum, "total": sum})
porcentaje_country_false["porcentaje_de_falsos_por_pais"] = porcentaje_country_false["target"] / porcentaje_country_false["total"]
porcentaje_country_false["porcentaje_de_pais"] = porcentaje_country_false["total"] / cant_has_coutry

In [53]:
porcentaje_country_false.columns = ["cant_falsos", "cant_pais", "porcentaje_de_falsos_por_pais", "porcentaje_de_pais"]

In [54]:
porcentaje_country_false.head()

,cant_falsos,cant_pais,porcentaje_de_falsos_por_pais,porcentaje_de_pais
country_str,,,,
AE,4.0,6,0.666667,0.002593
AF,2.0,2,1.000000,0.000864
"AF,IQ",0.0,3,0.000000,0.001296
AQ,1.0,1,1.000000,0.000432
AR,7.0,13,0.538462,0.005618

## 2.4 Links

#### Features con cantidades

In [55]:
links_info = links[["links_cant", "cant_failed_links", "links_encription_type"]].copy()

In [56]:
links_info.head()

    links_cant  cant_failed_links links_encription_type
id
48           1                  0                 https
49           1                  0                 https
50           1                  0                 https
53           1                  0                 https
55           1                  0                 https

#### Features con cantidad de apariciones de n dominios más usuales

In [57]:
# n cantidad de links
n_most_common_links = 20

In [58]:
# Dejo en cada columna un links

links_column = links['links_domain_str'].str.split(",", expand = True)
links_column[105:110]

                         0                  1     2     3
id
314        retrospring.net               None  None  None
316            twitter.com               None  None  None
322            twitter.com  www.alaraby.co.uk  None  None
338                   t.co        twitter.com  None  None
340  syrianperspective.com               None  None  None

In [59]:
links_cant_domain = pd.get_dummies(links_column[0],"domain")

In [60]:
# Sumo las columnas de acuerdo al link

unique_domains = set(links_cant_domain.columns)

for i in range(1, len(links_column.columns)):
    n_links_pd = pd.get_dummies(links_column[i],"domain")
    for domain in unique_domains:
        if(domain in set(n_links_pd.columns)):
            links_cant_domain[domain] = links_cant_domain[domain] + n_links_pd[domain]

In [61]:
links_cant_domain.head()

,domain_1.usa.gov,domain_24x7freeadvice.wordpress.com,domain_350.org,domain_99u.adobe.com,domain_9jacruz.blogspot.com,domain_9jalatestsnews.blogspot.com,domain_a.msn.com,domain_abc11.com,domain_abc7.com,domain_abc7chicago.com,...,domain_www.zerohedge.com,domain_www.ziprecruiter.com,domain_www.zoma.to,domain_www1.cbn.com,domain_www2.conning.com,domain_www2.deloitte.com,domain_yidwithlid.blogspot.com,domain_yonews.org,domain_zeenews.india.com,domain_zenit.org
id,,,,,,,,,,,,,,,,,,,,,
48,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
# n most common domains
n_domains = 20

In [63]:
# calculo los dominios más usuales
unique_domains_ordered = links_column[0].value_counts().index
columns_n_unique_links = ["domain_"+link for link in unique_domains_ordered[:n_domains]]

most_common_domain_cant = links_cant_domain[columns_n_unique_links]

In [64]:
most_common_domain_cant.head()

,domain_twitter.com,domain_www.youtube.com,domain_news.google.com,domain_t.co,domain_www.facebook.com,domain_www.instagram.com,domain_www.bbc.co.uk,domain_abcnews.go.com,domain_www.latimes.com,domain_cue.li,domain_www.amazon.com,domain_edition.cnn.com,domain_earthquake.usgs.gov,domain_www.dailymail.co.uk,domain_feedsportal.com?utm_source=twitterfeed&utm_medium=twitter&utm_campaign=Feed%3A+ndtv%2FTqgX+%28NDTV+News+-+World%29,domain_fanarmybracket2018.microsites.bbthr.com,domain_www.theguardian.com,domain_news.yahoo.com,domain_www.google.com,domain_home.twibble.io
id,,,,,,,,,,,,,,,,,,,,
48,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## 2.5 Tags

### Informacion general tags

In [65]:
tags_info = tags_info.copy()
tags_info["cant_tags"] = tags_info["tags"].apply(lambda x: len(x))
tags_info["tags_str"] = tags_info["tags"].apply(lambda x: to_string(x,","))

In [66]:
tags_info.head(2)

,id,target,text,tags,cant_tags,tags_str
0,1,True,Our Deeds are the Reason of this #earthquake M...,"[earthquake, reason]",2,"earthquake,reason"
1,4,True,Forest fire near La Ronge Sask. Canada,"[forest, fire]",2,"fire,forest"

###  Nuevo feature por tag

In [67]:
tags_columns = tags_info['tags_str'].str.split(",", expand = True)

In [68]:

df_has_tags = pd.get_dummies(tags_columns[0],"tag")
unique_tag = set(df_has_tags.columns)

for i in range(1, len(tags_columns.columns)):
    n_links_pd = pd.get_dummies(tags_columns[i],"tag")
    for domain in unique_tag:
        if(domain in set(tags_columns.columns)):
            df_has_tags[domain] = df_has_tags[domain] + tags_columns[domain]

In [69]:
df_has_tags["id"] = tags_info["id"]
df_has_tags = df_has_tags.set_index("id")

In [70]:
df_has_tags.head()

,tag_abc,tag_ablaze,tag_accident,tag_action,tag_air,tag_aircraft,tag_airplane,tag_airport,tag_ambulance,tag_america,...,tag_wildfire,tag_win,tag_wind,tag_windstorm,tag_woman,tag_wound,tag_wounded,tag_wreck,tag_wrecked,tag_zone
id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0